.element{:class => event['type'].snake_case.sub(/_event\z/, '').to_sym, 'data-user' => actor}
  .number
    %h1=number
  .date
    #{Time.parse(event['created_at']).strftime('%d of %b, %Y')}
    #{Time.parse(event['created_at']).strftime('%R')}
  .avatar
    .avatar-wrap
      %img{:src => "#{event['actor']['avatar_url']}&s=50"}
  .text
    = haml("events/#{event['type']}".snake_case.sub(/_event\z/, '').to_sym, :locals => {:event => event, :actor => actor, :repo => repo})
